@{
    ViewData["Title"] = "Home Page";
}
@model List<Mission09_b2256.Models.Books>

<h1>The Book Store</h1>

@foreach (Books b in Model)
            {
                <h3>@b.Title</h3>

                <ul>
                    <li>Book Author: @b.Author</li>
                    <li>Price: @b.Price</li>
                </ul>
            }

