@page
@model Mission09_b2256.Pages.CompletionModel
@{
}

<div class="text-center">
    <h2>Thanks!  You gave us money.</h2>
    <p>Your order will be shipped as soon as possible.</p>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>
